.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
  }
  
  .turn {
    font-size: 1.3rem;
    margin: 1rem;
    margin-bottom: 1rem;
  }
  
  .board {
    display: flex;
    flex-direction: column;
    perspective: 500px;
    padding: 0.5rem;
    background-color: #fb723b;
    border-radius: 20px;
  }
  
  .tiles {
    display: grid;
    gap: 0.2rem;
    
  }
  
  .navigation {
    padding: 1rem;
    display: grid;
    text-align: center;
    grid-template-columns: auto auto;
  }

  .navText {
    display: flex;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0.8rem;
    margin-inline-end: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4F58DF;
    text-transform: uppercase;
    perspective: 500px;
  }

  
  
